#foot{
padding:2vh 0vw;
text-align:center;
background-color:#161513;
box-sizing:border-box;
}
.socicon{
display:inline;
padding:1vw 0.5vw;
}
#footext{
color:white;
margin-top:1vw;
font-family:Raleway,sans-serif;
font-size:1.5vw;
}
.socicon a:link
{
text-decoration:none;
}